[defaults]
inventory           = /usr/local/ufv/ufv-infra/ansible/inventory/aws_inventory.sh
collections_path    = /usr/local/ufv/ansible_venv/lib/python3.12/site-packages/ansible_collections:/home/ua4192/.ansible/collections:/usr/share/ansible/collections
remote_user         = ansible
host_key_checking   = False
retry_files_enabled = False
forks               = 10
roles_path          = /usr/local/ufv/ufv-infra/ansible/roles
result_format       = yaml
stdout_callback     = default  # <--- importante

[ssh_connection]
ssh_args  = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ControlMaster=auto -o ControlPersist=60s
pipelining = True